* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif
}

a {
  text-decoration: none;
  color: gray;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  border-bottom: 1px solid rgb(197, 197, 197);
}

nav div {
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
}

nav i {
  font-size: 32px;
}

.nav-item {
  margin-right: 2vw;
  color: gray;
  font-size: 24px;
}

nav a {
  color: black;
}

nav img {
  border-radius: 24px;
  height: 2.5rem;
  width: 2.5rem;
}

section {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section form {
  border: 1px solid rgb(197, 197, 197);
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2%;
  width: 25vw;
}

section form h2 {
  font-weight: 500;
  font-size: 28px;
  margin: 5vh 0 5vh 0;
}

section form input {
  padding: 6% 4% 6% 4%;
  margin: 0 0 5vh 0;
  font-size: 16px;
  width: 100%;
  border-radius: 4%;
  border: 1px solid rgb(197, 197, 197);
}

section form button {
  background: rgb(1, 119, 255);
  padding: 5%;
  width: 30%;
  border-radius: 8%;
  color: white;
  font-size: 16px;
}

section form a {
  color: rgb(1, 119, 255);
}

.form-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  position: absolute;
  top: 7vh;
  left: 0px;
  width: 15vw;
  height: 93vh;
  border-right: 1px solid rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  align-items: left;
  background: white;
}

.sidebar li {
  margin: 5%;
  padding: 10%;
  list-style: none;
  font-size: 24px;
  color: gray;
  border-radius: 12px;
}

.sidebar-disabled {
  display: none;
}

.menu {
  position: absolute;
  top: 7vh;
  left: 80vw;
  width: 20vw;
  border: 1px solid lightgray;

  background: white;
}

.menu li {
  margin: 5%;
  padding: 10%;
  list-style: none;
  font-size: 24px;
  color: gray;
}

.menu-disabled {
  display: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.color {
  background: linear-gradient(to right top, #BA5370, #f3a77e);
  padding: 5%;
  color: white;
}

.class-card {
  width: 20vw;
  height: 30vh;
  border: 2px solid lightgray;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: left;
  border-radius: 6px;
}

.class-card a {
  color: white;
  text-decoration: underline;
}

.class-info {
  background: linear-gradient(to right top, #BA5370, #f3a77e);
  padding: 2%;
  width: 50vw;
  color: white;
  height: 20vh;
  border-radius: 10px;
  margin-top: 2%;
}

.class-info h1 {
  font-size: 42px;
}

.class-info p {
  font-size: 22px;
}

.stream {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stream form {
  padding: 12px;
  border: 2px solid lightgray;
  display: flex;
  width: 50vw;
  border-radius: 5px;
}

.stream form input {
  border-radius: 5px;
  width: 90%;
  border: 1px solid rgb(197, 197, 197);
  padding: 8px;
  font-size: 16px;
}

.stream form button {
  background: rgb(1, 119, 255);
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  height: 5vh;
  width: 10%;
}

.assignment-card {
  border: 2px solid lightgray;
  margin: 5px;
  padding: 20px;
  width: 50vw;
  border-radius: 5px;
  display: flex;
}

.assignment-info {
  display: flex;
  flex-direction: column;
}

.assignment-card img {
  width: 3vw;
  height: 6vh;
  border-radius: 32px;
  margin-right: 1vw;
}

.no-image {
  width: 3vw;
  height: 6vh;
  border-radius: 32px;
  margin-right: 1vw;
  background: gray;
}

.error-group {
  background: #ffbed1;
  color: #80384c;
  border: 2px solid #BA5370;
  border-radius: 3px;
  padding: 8px;
  margin: 0 0 5vh 0;
}
